body, html, :root {
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;

  color: #EEEEEE;
  background-color: #222831;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* darkest
 #222831
 #31363F
 #76ABAE
 #EEEEEE
   lightest
*/


#grid {
  display: grid;
  grid-template-rows: calc(100vh - 30px) 30px;
  grid-template-columns: 100vw;
}

#bottom-bar{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #31363F;
  z-index: 1;
}

#viewport {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  overflow: hidden;
  z-index: 0;
}

#file-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: calc(50% - 15px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#file-select:hover {
  cursor: pointer;
}

#file-icon {
  font-size: 5rem;
  line-height: 5rem;
}

#image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
