:root {
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;

  color: #ffffff;
  background-color: #282828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1vh);
}

.file-icon {
  font-size: 5rem;
}